.PosPlusTick {
  margin-top: 11px;
  margin-bottom: 0px;
}
.Pos {
  margin-left: 11px;
}
.Clock {
  position: absolute;
  left: 0px;
  bottom: 3px;
  width: 16px;
  height: 16px;
}
.takeQuery {
  font-family: "Open Sans";
  background-color: #c5dcff;
  font-size: 16px;
  height: 28px;
  width: 73px;
  border-radius: 11px;
  border: none;
  margin-left: 6px;
}
